#-*- mode: sh;-*-
#
#  Copyright (c) 2019  Jeong Han Lee
#
#  The program is free software: you can redistribute
#  it and/or modify it under the terms of the GNU General Public License
#  as published by the Free Software Foundation, either version 2 of the
#  License, or any newer version.
#
#  This program is distributed in the hope that it will be useful, but WITHOUT
#  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
#  FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
#  more details.
#
#  You should have received a copy of the GNU General Public License along with
#  this program. If not, see https://www.gnu.org/licenses/gpl-2.0.txt
#
# Author  : Jeong Han Lee
# email   : jeonghan.lee@gmail.com
# Date    : Thursday, September 12 03:42:38 CDT 2019 
# version : 0.0.1
#

PRINTER="LabelWriter-450-DUO-Tape"
FILETYPE="png"
QR="58"
DM="71"


function pushd { builtin pushd "$@" > /dev/null; }
function popd  { builtin popd  "$@" > /dev/null; }


function die
{
    error=${1:-1}
    ## exits with 1 if error number not given
    shift
    [ -n "$*" ] &&
	printf "%s%s: %s\n" "$scriptname" ${version:+" ($version)"} "$*" >&2
    exit "$error"
}



function create_label_image
{
    
    local data=$1; shift;
   
    local output_filename="${data}.${FILETYPE}";
    local rawoutput_filename=".${output_filename}";
    
    pushd ${SC_TOP}
    # Create the label directly from Zint
    zint -o ${rawoutput_filename} --height=48 -w 6 --border=0 --vers=26  -b ${DM} -d ${data}
    # Add ${data} on the bottom of the label
    convert ${rawoutput_filename}  -gravity South -background white -splice 0x14 -annotate +0-2 "${data}" -font "Monospace Regular" -density 360 +antialias ${output_filename}
    printf "Label %s is created in ${SC_TOP}\n" "${output_filename}"
    popd
}

# cups-bsd
# This lpr isn't the BSD original one, but cups-bsd one
#
function lpr_label
{
    local data=$1; shift;
    local output_filename="${data}.${FILETYPE}";
    local tempfile=$(mktemp -q) || die 1 "${SC_SCRIPTNAME} CANNOT create the startup file, please check the disk space";
    
    lpstat -p ${PRINTER} > tee ${tempfile}
    
    RC=$(grep  "enabled" ${tempfile})
    
    if  [ -z $RC ]; then
    	printf "Sending ${output_filename} to ${PRINTER}\n";
	lpr -P ${PRINTER} -o MediaType=6mm -o PageSize=w18h252  -o orientation-requested=4 -o DymoCutOptions=Cut -o DymoContinuousPaper=0 -o DymoHalftoning=NLL -o print-quality=5 ${output_filename}
    else
	printf "We cannot find the printer : %s\n" "${PRINTER}";
	exit 1;
    fi
    
}

